@using Microsoft.AspNetCore.Identity
@using pizzaperks.Models.Enums;
@model IEnumerable<Order>;

@{

}
<div class="container dashboard mb-5">

  
        <div class="dashboard mb-3 mt-5" id="manager-dashboard">
            <h3>Store Dashboard 243</h3>

            <table id="in-progress-orders" class="table table-light table-striped table-hover mt-5">
                <thead>
                    <tr>
                    <th scope="col">
                            Order Number
                        </th>
                    <th scope="col">
                        Order Name
                    </th>
                    <th scope="col">
                        Items
                    </th>
                    <th scope="col">
                        Time
                    </th>
                    <th scope="col" >
                        Status
                    </th>
                    
                    </tr>
                </thead>
                <tbody>
                @foreach (var (index, order) in Model.Select((order, index) => (index, order)))
                {
                    @if(order.Status != nameof(OrderStatusEnum.Complete))
                    {
                        <tr scope="row" onclick="EditOrder(@order.Id)">
                            <td>@order.OrderNumber</td>
                            <td>@order.CustomerName</td>
                            <td>@string.Join(" / ", order.OrderedItems.Select(l => string.Join(" / ", l.Name)))</td>
                            <td>@order.OrderDateTime</td>
                            <td>@order.Status</td>
                        </tr>

                    }
                   
                }
                </tbody>
            </table>


        <table id="completed-orders" class="table table-light table-striped table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">
                        Order Number
                    </th>
                    <th scope="col">
                        Order Name
                    </th>
                    <th scope="col">
                        Items
                    </th>
                    <th scope="col">
                        Time
                    </th>
                    <th scope="col">
                        Status
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var (index, order) in Model.Select((order, index) => (index, order)))
                {

                    @if (order.Status == nameof(OrderStatusEnum.Complete))
                    {
                        <tr scope="row" onclick="EditOrder(@order.Id)">
                            <td>@order.OrderNumber</td>
                            <td>@order.CustomerName</td>
                            <td>@string.Join(" / ", order.OrderedItems.Select(l => string.Join(" / ", l.Name)))</td>
                            <td>@order.OrderDateTime</td>
                            <td>@order.Status</td>
                        </tr>

                    }
                }
            </tbody>
        </table>

        </div>

</div>




@section Scripts{
    <script>
        function EditOrder(index) {
            console.log(`Hello ${index}`);
            var url = `@(Url.Action("Edit","Orders"))/${index}`;
            window.location.href = url;
        }

    </script>
  
    
}